/* font Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500;1,600&display=swap');

/* Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* navbar */
.navbar-brand{
    font-size: 20px;
    font-family: 'Playfair Display';
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}


/* jumbotron */
.jumbotron{
    background-image: url(../jumbotron-carousel/5.jpg);
    background-size: cover;
    height: 450px;
    margin-top: -75px;
}
h1{
    font-family: 'Playfair Display';
    color: white;
    font-size: 45px !important;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: 100px;
}
.display-4 span{
    font-weight: 700;
}


/* about*/
#about{
    background: rgb(230, 228, 228);
    padding: 30px 0;
    margin-top: -31px;
}
#about h2{
    font-family: 'Playfair Display';
    font-size: 35px;
    margin-bottom: 20px;
}
p{
    font-family: 'Playfair Display';
    font-size: 15px;
    line-height: 25px;
}

/* date */
#date{
    background-image: url(../jumbotron-carousel/8.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
#date .row{
    font-family: 'Playfair Display' ;
}
.contentBx{
    margin: 30px 0;
}
.contentBx .save{
    font-size: 35px;
    padding-bottom: 20px;
    text-align: center;
}
.contentBx .content{
    text-align: center;
    line-height: 25px;
}

/* sponsor */
#sponsorship{
    font-family:'Playfair Display';
    padding: 40px 0;
    background-color: rgb(54, 54, 54);
    color: white;
    padding-top: 50px;
}
#sponsorship .header{
    text-align: center;
    margin-bottom: 20px;
}
#sponsorship .content-header{
    text-align: center;
    line-height: 25px;
}
.row .garlix img{
    max-width: 345px;
    min-width: 250px;
    opacity: 0.25;
    cursor: pointer;
}
.row .senada img{
    max-width: 345px;
    min-width: 250px;
    opacity: 0.25;
    opacity: 0.25;
    cursor: pointer;
}
.row .garlix img:hover{
    opacity: 1;
    transition: 0.5s;
}
.row .senada img:hover{
    opacity: 1;
    transition: 0.5s;
}

/* Contact */
#contact{
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Playfair Display';
    font-size: 15px;
    background: rgb(230, 228, 228) ;
}
#contact h2{
    padding-bottom: 35px;
}
#contact iframe{
    width: 345px;
}

/* footer */
#footer{
    font-family: 'Playfair Display';
    background: black;
    padding: 15px;
    color: #ffffff;
}







/* desktop */
@media (min-width: 992px) {
    /* navbar */
    .navbar-brand{
        font-size: 30px;
    }
    /* jumbotron */
    .jumbotron{
    height: 780px;
    }
    h1{
        font-family: 'Playfair Display';
        color: white;
        text-transform: uppercase;
        font-size: 100px !important;
        font-weight: 600;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
        text-align: center;
        margin-top: 150px;
    }
    .display-4 span{
        font-weight: 700;
    }

    /* about*/
    #about{
        background: rgb(245, 243, 243);
        padding-bottom: 30px;
    }
    #about h2{
        font-family: 'Playfair Display';
        font-size: 50px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
    }

    /* date */
    #date{
        color: white;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }
    #date .contentBx{
        margin-top: 100px;
        padding: 40px 20px !important;
    }
    .contentBx .save{
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: left;
    }
    .contentBx .content{
        line-height: 35px;
        text-align: justify;
    }
    


    /* sponsor */
    #sponsorship .header{
        font-size: 50px;
    }
    .row .col .garlix img{
        width: 500px;
        margin-left: 50px;
        opacity: 0.25;
        cursor: pointer;
    }


    /* contact */
    #contact{
        font-size: 18px;
    }
    #contact h2{
        font-size: 50px;
        padding-bottom: 30px;
    }
    #contact iframe{
        height: 400px;
    }
    
}

/* landscape phone */
@media (min-width: 576px) {
    /* navbar */
    .navbar-brand{
        font-size: 25px;
        font-family: 'Playfair Display';
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    }


    /* jumbotron */
    h1{
        font-family: 'Playfair Display';
        color: white;
        font-size: 150px;
        font-weight: 600;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
        text-align: center;
        margin-top: 120px;
    }


    /* about */
    #about h2{
        font-family: 'Playfair Display';
        font-size: 45px;
        margin-bottom: 20px;
    }
    
    /* date */
    .contentBx .save{
        font-size: 45px;
        padding-bottom: 20px;
        text-align: center;
    }
    
    /* sponsor */
    #sponsorship .header{
        font-size: 45px;
    }
    .row .garlix img{
        max-width: 600px;
        min-width: 250px;
        opacity: 0.25;
        cursor: pointer;
    }
    .row .senada img{
        max-width: 500px;
        min-width: 250px;
        opacity: 0.25;
        opacity: 0.25;
        cursor: pointer;
    }
    /* contact */
    #contact h2{
        font-size: 45px;
        padding-bottom: 30px;
    }
    #contact iframe{
        width: 510px;
    }
}